<?xml version="1.0"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.h2.Driver</property>
        <property name="connection.url">jdbc:h2:mem:testdb</property>
        <property name="connection.username">sa</property>
        <property name="connection.password"></property>
        <property name="dialect">org.hibernate.dialect.H2Dialect</property>
        <property name="show_sql">true</property>
        <property name="current_session_context_class">thread</property>
        <!-- update means that create only when table not exist-->
<!--        create means drop and create -->
<!--        create-drop means drop on session close-->
        <property name="hbm2ddl.auto">update</property>

<!--        <mapping class="HiberDemo.Employee"/>-->

        <property name="hibernate.c3p0.acquire_increment">4</property>
        <property name="hibernate.c3p0.idle_test_period">10000</property>
        <property name="hibernate.c3p0.max_size">32</property>
        <property name="hibernate.c3p0.min_size">8</property>
        <property name="hibernate.c3p0.max_statements">16</property>

<!--        register entity relation mapping file-->
        <mapping resource="Manager.hbm.xml"/>

    </session-factory>
</hibernate-configuration>
